:root {
  --colorBody: #101113;
  --colorBlackProject: rgba(64, 64, 64, 0.411);
  --colorWhite: white;
  --colorOrange: #febe2a;
  --colorNoHover: #ACACAC;
  --coloccc: #ccc;
}

@font-face {
  font-family: "Syne";
  src: url("/assets/fonts/Syne-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Syne";
  src: url("/assets/fonts/Syne-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Syne";
  src: url("/assets/fonts/Syne-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Syne";
  src: url("/assets/fonts/Syne-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

body {
  background-color: var(--colorBody);
  font-family: "Syne", sans-serif;
}

.mouse {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--colorOrange);
}

body nav div div div ul li .active,
body nav div div div ul li .design-link:hover,
.is-color-orange {
  color: var(--colorOrange) !important;
}

.lineImage {
  z-index: -1;
}

.all-title {
  font-size: 22px;
  transition: 0.3s;
  font-weight: 400;
}

.all-title:hover {
  margin-left: 0 !important;
}

.all-title:hover::after {
  right: 0;
  opacity: 0;
}

.all-title:hover::before {
  left: 0;
  opacity: 0;
}

.all-title::before,
.all-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--colorOrange);
  top: 45%;
  transition: 0.5s;
}

.all-title::before {
  left: -25px;
}

.all-title::after {
  right: -25px;
}

.text-justify {
  text-align: justify;
}

.mouse {
  cursor: pointer;
}

body .navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

body .navbar.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

body .navbar.visible {
  opacity: 1;
  transform: translateY(0);
  position: fixed;
  top: 0;
}

body .navbar.scroll-up {
  position: fixed;
  top: 0;
}

body nav {
  z-index: 1;
}

body nav div div div .logo-size {
  width: 70px;
  height: 60px;
}

body nav div div div .design-menu {
  width: 40px;
  height: 3px;
  border-radius: 40px;
  transition: 0.3s;
}

body nav div div div .design-menu:first-child {
  top: -12px;
}

body nav div div div .design-menu:nth-child(2) {
  bottom: 0;
}

body nav div div div .design-menu:last-child {
  bottom: -10px;
}

body nav div div .is-navbar-clicked .design-menu:first-child {
  top: 0;
  transform: rotate(40deg);
}

body nav div div .is-navbar-clicked .design-menu:nth-child(2) {
  opacity: 0;
  transform: rotate(40deg);
}

body nav div div .is-navbar-clicked .design-menu:last-child {
  top: 0;
  transform: rotate(-40deg);
}

body nav div div div ul li .design-link {
  color: var(--colorWhite);
  font-size: 18px;
  font-weight: 600;
}

.design-text-btn {
  font-weight: 500;
}

body div div div div form div .is-color-input {
  background-color: var(--coloccc);
}

body section div .rowGap div .is-bg-protfolios div div div .imageModal {
  height: 100vh;
}

body section div .rowGap div .is-bg-protfolios {
  overflow: hidden;
}

body section div .rowGap div .is-bg-protfolios a img {
  transition: 0.5s;
  transform: scale(1);
}

body section div .rowGap div .is-bg-protfolios:hover a img {
  transform: scale(1.05);
}

body main {
  height: 100vh;
}

body main div div div div div .is-size-main-title {
  font-size: 50px;
  font-weight: 600;
}

body main div div div div .movementHasn {
  animation: framesHasn 2s infinite ease-in-out;
}

@keyframes framesHasn {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  80% {
    transform: rotate(0deg);
  }
}

body main div div div div div .is-design-main-text {
  font-size: 28px;
  font-weight: 400;
  color: var(--coloccc);
}

body main div div div .is-position-icons .is-mine-image {
  width: 550px;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

body main div div div div .is-design-arraw-button {
  width: 45px;
  height: 100px;
  right: -10px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.386), rgba(204, 204, 204, 0.1725490196));
}

body main div div div div .is-design-arraw-button .is-box-arraw-up {
  bottom: -10px;
  background-color: var(--colorOrange);
  padding: 10px;
}

body main div div div div .is-design-arraw-button .is-box-arraw-up img {
  width: 26px;
  height: 26px;
}

body main div div div .is-position-icons::before,
body main div div div .is-position-icons::after {
  position: absolute;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--colorWhite);
  border-radius: 20px;
}

body main div div div .icon-vue {
  width: 50px;
  filter: brightness(0) invert(1);
  top: 37%;
  left: 100px;
  animation: framesVueJs 5s infinite ease-in-out;
}

@keyframes framesVueJs {
  0% {
    top: 37%;
    left: 100px;
  }

  50% {
    top: 36%;
    left: 90px;
  }

  100% {
    top: 37%;
    left: 100px;
  }
}

body main div div div .icon-tailwind-css {
  width: 50px;
  animation: framesBootstrap 5s infinite ease-in-out;
}

@keyframes framesBootstrap {
  0% {
    top: 37%;
    right: 140px;
  }

  50% {
    top: 36%;
    right: 130px;
  }

  100% {
    top: 37%;
    right: 140px;
  }
}

body section div div div .is-size-title-numbers {
  font-size: 24px;
  font-weight: 400;
}

body section div div div .is-design-number {
  font-size: 38px;
  color: var(--colorOrange);
  font-weight: 800;
}

body main div div div div div .button-cv div .is-design-arraw::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--colorOrange);
  left: 11.5%;
  top: 18%;
  transition: 0.35s;
}

body main div div div div div .button-cv {
  padding: 12px 0;
  background-color: var(--colorWhite);
}

body main div div div div div .button-cv div .is-design-arraw img {
  transform: rotate(0);
  transition: 0.35s;
}

body main div div div div div .button-cv:hover div .is-design-arraw img {
  transform: rotate(55deg);
}

body main div div div div div .button-cv:hover div .is-design-arraw::before {
  width: 102%;
  height: 60px;
  left: -3px;
  top: -3px;
  border-radius: 20%;
}

body section div div div div .is-size-about-me {
  font-size: 21px;
  font-weight: 400;
}

body section div div div div .size-image-laptop {
  width: 100%;
}

body section div div div .is-size-title-services {
  font-size: 33px;
  font-weight: 600;
}

body section div .rowGap div .is-design-service div .is-size-icon-serivce {
  width: 70px;
  height: 70px;
}

body section div .rowGap div .is-design-service div .is-size-title-serivce {
  font-size: 30px;
  font-weight: 600;
}

body section div .rowGap div .is-design-service {
  box-shadow: 0 0 0 0 rgba(253, 200, 76, 0.5803921569);
  transition: 0.3s;
}

body .section-protfolios-page {
  margin-top: 150px;
}

body section div .rowGap div .is-design-service::-webkit-scrollbar {
  width: 0;
}

body section div .rowGap div .is-design-service:hover {
  box-shadow: 0 0 4px 4px rgba(253, 200, 76, 0.5803921569);
}

body section div .rowGap div .is-design-service:hover div img {
  filter: sepia(1) saturate(4) hue-rotate(-10deg);
}

body section div .rowGap div .is-design-service:hover div h2 {
  color: var(--colorOrange) !important;
}

body section div .rowGap div .is-design-service:hover div span {
  color: var(--colorWhite);
}

body section div .rowGap div .is-design-service div .is-design-text-serivce {
  color: var(--colorNoHover);
  font-weight: 600;
}

body section div .rowGap {
  row-gap: 25px;
}

body section div .rowGap div .is-bg-protfolios {
  background-color: var(--colorBlackProject);
}

body section div .rowGap div .is-bg-protfolios div div .is-size-icon-eye {
  width: 20px;
  height: 20px;
}

body section div .rowGap div .is-bg-protfolios div div .is-size-icon-eye-vue {
  filter: brightness(0) invert(1);
}

body section div .rowGap div .is-bg-protfolios .is-image-protfolios {
  -o-object-fit: cover;
  object-fit: cover;
  height: 450px;
}

body .arrawTop {
  bottom: 30px;
  right: 30px;
  background-color: var(--colorOrange);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

body .arrawTop .imageArrawArotate {
  transform: rotate(90deg);
  margin-bottom: 0;
  transition: 0.3s;
}

body .arrawTop:hover .imageArrawArotate {
  margin-bottom: 10px;
}

body .arrawTop.show {
  opacity: 1;
}

body footer div div .is-design-title-footer::before {
  content: "";
  position: absolute;
  width: 20%;
  bottom: -12px;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: var(--colorOrange);
}

body footer div div .is-size-footer-media {
  margin-top: 40px;
}

body footer div div .is-size-footer-media div ul li .is-size-icon-media {
  width: 30px;
  height: 30px;
}

body footer div div .is-size-footer-media .is-email-lowercase {
  text-transform: lowercase;
}

@media (max-width: 1199px) and (min-width: 990px) {
  body section div .rowGap div .is-bg-protfolios .is-image-protfolios {
    display: none;
  }
}

@media (max-width: 1400px) {
  body main {
    margin-top: 150px;
    height: unset;
  }
}

@media (max-width: 1272px) {

  body main div div div .icon-vue,
  body main div div div .icon-tailwind-css {
    display: none;
  }

  body main div div div .is-position-icons .is-mine-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 990px) {
  body main div div div div div .is-size-main-title {
    font-size: 40px;
  }

  body section div div div div .size-image-laptop {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  body section div .rowGap div .is-size-icon-serivce {
    height: unset;
  }
}

/*# sourceMappingURL=index.css.map */